<%= form_tag "/photos", method: "post", multipart: true do %>
  <%= file_field :fileupload, :file %>
  <%= submit_tag 'Send file' %>
<% end %>
<div class="records-list">
  <%= cl_image_tag("jtovuic8pvwwzto8rpb8.jpg", width: 400, height: 400, class: "record") %>
  <%= cl_image_tag("acezogurhqsxh0uxzuh9.jpg", width: 400, height: 400, class: "record") %>
  <%= cl_image_tag("sdtz6tqnkg6vs1srnzha.jpg", width: 400, height: 400, class: "record") %>
</div>
