<%= link_to 'Sign in with Spotify', '/auth/spotify' %>

<%= form_for(@photo, html: {:multipart => true}) do |f|%>
  <%= file_field_tag :photo %>
  <%= f.submit 'Send file' %>
<% end %>

<div class="records-list">
  <%= cl_image_tag("jtovuic8pvwwzto8rpb8.jpg", width: 400, height: 400, class: "record") %>
  <%= cl_image_tag("acezogurhqsxh0uxzuh9.jpg", width: 400, height: 400, class: "record") %>
  <%= cl_image_tag("sdtz6tqnkg6vs1srnzha.jpg", width: 400, height: 400, class: "record") %>
</div>
